.storeHero {
  display: flex;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  height: 40vh;
  width: 100%;
  padding-right: 20px;
  box-sizing: border-box; /* ensures padding doesn’t break height */
}

.scroller {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    margin: auto;
    gap: 10px;
    flex-wrap: nowrap; /* allows items to wrap if they overflow horizontally */
    box-sizing: border-box;
}